/* TODO Add site wide styles */
/* @media screen and (min-width: 600px) {
    body {
      height: 100vh;
      width: 100vw;
    }
    p {
        max-height: 30px;
        width: 70px;
      }
} */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
}

* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}


#root{
  height: 100% !important;
  width: 100% !important;
}

.arrowdown{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.errors__class{
    margin-top: 5vh;
    padding: 5px;
    font-weight: bold;
    color: red;
}

.profile_text{
    font-size: large;
    font-weight: bold;
}


/* users page */

#users_page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.single_user{
    justify-content: flex-start;
    list-style-type:none;
}

.user_holder{
    display: flex;
    flex-direction: row;
    width: 90vw;
    box-sizing: border-box;
    margin: 30px;
}


